<form action="<%= sub.persisted? ? sub_url(sub) : subs_url %>" method="POST">
  <input type="hidden"
    name="_method"
    value="<%= sub.persisted? ? "PATCH" : "POST" %>">
    
  <%= authenticity_token %>
  
  <label>Title
    <input type="text" name="sub[title]" value="<%= sub.title %>">
  </label>
  
  <label>Description
    <textarea name="sub[description]"><%= sub.description %></textarea>
  </label>
  
  <button><%= sub.persisted? ? "Save" : "Create" %></button>
</form>