<!-- <h3><%#= link_to @post.sub.title, sub_url(@post.sub) %></h3> -->

<% if @post.author == current_user %>
  <%= link_to "Edit", edit_post_url(@post) %>
<% end %>
  
<h4><%= post_title(@post) %></h4>
<pre>
  <%= @post.content %>
</pre>

<%= render partial: "comments/form", locals: { post: @post, parent_id: nil } %>

<% @post.top_level_comments.each do |comment| %>
  <%= render partial: "comments/comment", locals: { comment: comment } %>
<% end %>