<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id="session">
  <%= render partial: 'layouts/session' %>
</div>

<ul>
  <% flash[:errors].try(:each) do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
